/* colors from https://develop.kde.org/hig/style/color/dark/ */
:root {
  --near-white: rgb(239, 240, 241); /* cardboard gray */
  --lighter-gray: rgb(189, 195, 199); /* alternate gray */
  --light-gray: rgb(175, 176, 179); /* lazy gray */
  --gray: rgb(127, 140, 141); /* coastal fog */
  --dark-gray: rgb(77, 77, 77); /* icon gray */
  --darker-gray: rgb(59, 64, 69); /* burnt charcoal */
  --darkest-gray: rgb(49, 54, 59); /* charcoal gray */
  --near-black: rgb(35, 38, 41); /* [no name] */

  --yellow: rgb(253, 188, 75); /* icon yellow */
  --red: rgb(218, 68, 83); /* icon red */
  --blue: rgb(61, 174, 233); /* plasma blue */
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;

  background-color: var(--near-black);
}

a {
  color: var(--blue);
}
a:link {
}
a:visited {
}
a:focus {
  color: var(--yellow);
}
a:hover {
  color: var(--yellow);
}
a:active {
  color: var(--red);
}

header, footer, article {
  background-color: var(--darker-gray);
  color: var(--near-white);
}

header, footer {
  text-align: center;
}
header > h1 {
  padding: 0.4em;
}
footer {
  padding: 0.7em;
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

article {
  padding-top: 1em;
  padding-bottom: 1.3em;
  padding-left: 1.3em;
  padding-right: 1.3em;

  width: 37em;
}
article > div {
  display: flex;
  justify-content: space-between;
}
article > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* prevent space under baseline if image were displayed inline */
article > a > img {
  display: block;
}
/* prevent link area from extending right of the image inside the link */
article > a {
  display: block;
  width: min-content;
}
