/* colors from https://hig.kde.org/style/color/dark.html */
:root {
  --near-white: rgb(239, 240, 241);
  --light-gray: rgb(189, 195, 199);
  --dark-gray: rgb(35, 38, 41);
  --yellow: rgb(253, 188, 75);
  --red: rgb(218, 68, 83);
}

.dark-themed {
  background-color: var(--dark-gray);
  color: var(--near-white);
}
.dark-themed a {
  color: var(--near-white);
}
.dark-themed a:focus, .dark-themed a:hover {
  color: var(--yellow);
}
.dark-themed a:active {
  color: var(--red);
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;

  background-color: var(--light-gray);
}

header {
  text-align: center;
}
header h1 {
  padding: 0.4em;
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

article {
  padding-top: 1em;
  padding-bottom: 1.3em;
  padding-left: 1.3em;
  padding-right: 1.3em;

  width: 37em;

  background-color: var(--near-white);
}
article p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* prevent weird space from being under images */
article img {
  display: block;
}

footer {
  text-align: center;
  padding: 0.7em;
}
