/* colors from https://hig.kde.org/style/color/dark.html */

* {
  margin: 0;
}

body {
  background-color: rgb(239, 240, 241);

  font-family: sans-serif;
}

header {
  color: rgb(239, 240, 241);
  background-color: rgb(35, 38, 41);

  text-align: center;
}
header h1 {
  padding: 0.4em;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-left: 1.3em;
  margin-right: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
article h2, article p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* prevent weird space from being under images */
article img {
  display: block;
}

footer {
  text-align: center;
  padding: 0.5em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-top: 1em;
  margin-bottom: 1em;
}
